*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile_nav{
    display: none;
    width: 100%;
    height: 195px;
    display: none;
    flex-direction: column;
}
.mobile_nav1{
    height: 50px;
    background-color:rgb(35, 47, 62);
    display: flex;
    justify-content: space-between;
}
#part1{
    width: 30%;
    height: 100%;
    display: flex;

}
#part1>#box1{
    border: none;
    width: 25%;
    height: 100%;
}
#svg1{
    margin: -20px -10px 0px 0px;
    height: 100%;
}
#part1>#box2{
    height: 100%;
    width: 75%;
    display: flex;
    padding: 13px;
}
#mob_img1{
    height: 100%;
}
#box2>p{
    align-items: center;
    display: flex;
    font-size: large;
    color: white;
}

#part2{
    width: 40%;
    display: flex;
}
#mob_signin{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: large;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 50%;
    height: 100%;
}
#svg2{
    height: 100%;
    width: 25%;
    padding: 10px 5px 10px 0px;
}
#mob_img2{
    height: 100%;
    width: 25%;
    padding: 12px 10px 10px 0px;
}
.mobile_nav2 {
    height: 50px;
    background-color: rgb(35, 47, 62);
    display: flex;
    justify-content: space-between;
    padding: 5px 7px 3px 7px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#mob_input {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}

.mobile_nav3{
    height: 50px;
    width: 100%;
    background-color:rgb(35, 47, 62);
    display: flex;
    align-items: center;
    padding: 10px;
}
#para{
    color: white;
    font-size: x-small;
}
.mobile_nav3>a{
    width: auto;
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.mobile_nav4{
    height: 45px;
    width: 100%;
    background-color:rgb(55, 71, 90);
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0px 0px 0px 10px;
}
.mobile_nav4>#svg3{
    height: 70%;
    width: 7%;
}











.nav{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 100%;
}
.nav>.part1{
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
    justify-content: start;
    background-color: rgb(19, 25, 33);    
}
.part1>.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}
.logo>img{
    width: 78%;
    height: 65%;    
}
.part1>.location{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 112%;
}
.location>div{
    width: 100%;
    height: 60%;
    font-size: 75%;
    color: white;  
}
.location>svg{
    width: 8%;
    height: 35%;    
}
.part1>.input{
    display: flex;
    justify-content: end;
    width: 38.3%;
    padding: 10px;
    
}
.all>input{
    width: 50px;
    height: 100%;
    background-color:#e6e6e6 ;
    border: none;
    padding: 10px;
    font-size: 15px;
    position:relative ;
    right: 230px;
    border-radius: 5px 0 0 5px;
}
.search>input{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 224%;
    font-size: 95%;
    padding: 5%;
    border: none;
    position:relative ;
    right: 230px;
}
.icon>input{
    width: 45px;
    height: 100%;
    background-color: rgb(300, 189, 105);
    border: none;
    border-radius: 0px 5px 5px 0;
}
.part1>svg{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 60px;
    position: absolute;
    right: 415px;   
}
.part1>.cart{
    display: flex;
    justify-content: start;
    width: 29%;
}
.cart>.lan{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 85%;
    height: 100%;
    width: 80px;
}
.lan>a{
    text-decoration: none;
    color: white;
}
.lan>img{
    height: 25%;
    position: relative;
    left: -5px;
}
.lan:hover{
    border: 1px solid white;
}
.cart>.login{
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%; 
}
.login>a{
    text-decoration: none;
    color: white;
    position: relative;
    left: -7px;
}
.login:hover{
    border: 1px solid white;
}
.cart>.return{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}
.return>a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:85%;
}
.cart>.cartt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;    
}
.cartt>a{
    text-decoration: none;
    color: white;
    font-size: 85%;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    right: 10px;
    
}
.cartt>img{
    width: 30px;
    height: 25px;
    position: relative;
    right: 10px;
}




.nav>.part2{
    display: flex;
    justify-content: center;
    width: 100%;
    height:40%;
}
.part2>.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 71%;
    background-color:rgb(35, 47, 62);
}
.menu>svg{
    width: 50px;
}
.menu>#all{
    display: flex;
    justify-content: center;
    margin-left: -20px;
}
.menu>a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;

}
.part2>.app{
    background-color:rgb(35, 47, 62);
    width: 29%;
}
.app>img{
    width: 100%;
}
#imgshop{
    height: 39px;
    width: 100%;
}
#download:hover{
    border: 1px solid white;
}
.menu>a:hover{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    border: 1px solid white;
}








#content{
    background-color: #ececec;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,24%);
    grid-template-rows: repeat(2,430px);
    gap: 18px;
    padding: 20px;
}
.container{
    background-color: white;
    width: 100%;
    height: 430px;
    padding: 20px;
}
#topic{
    width: 100%;
    height: 17%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#image{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
}
#div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
#div>div{
    width: 45%;
}
#di>a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}
#pic{
    width: 100%;
    height: 100px;
}
#show_more{
    width: 100%;
    height: 5%;
    padding: 0px 0px 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}







.footer{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.box1{
    height: 190px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}
#box1{
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
}
#start_here:hover{
    text-decoration: none;
}
#see{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#sign_bu{
    width: 17%;
    height: 37px;
    justify-content: center;
    display: flex;
    padding: 4px;
}
#butt{
    width: 100%;
    background-color:rgb(255,198,52);
    border: 2px solid rgb(230, 164, 0);
    border-radius: 3px;
    cursor: pointer;
}
#new_cus{
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(72,87,105);
    color: rgb(236, 236, 236);
    cursor: pointer;
}
.top:hover{
    background-color: rgb(88, 102, 120);;
}

.box2{
    background-color: rgb(35,47,62);
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.down_menu{
    height: 335px;
    width: 69%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0px 0px 0px;
}
#dm1{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#dm2{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#dm3{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}
#dm4{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}
h4{
    padding: 0px 0px 10px 0px;
    color: white;
}
#dm1>a{
    font-size: 14px;
    font-weight: normal;
    color: #d9d9d9;
    padding: 5px 0px 5px 0px;
}
#dm2>a{
    font-size: 14px;
    font-weight: normal;
    color: #d9d9d9;
    padding: 5px 0px 5px 0px;
}
#dm3>a{
    font-size: 14px;
    font-weight: normal;
    color: #d9d9d9;
    padding: 5px 0px 5px 0px;
}
#dm4>a{
    font-size: 14px;
    font-weight: normal;
    color: #d9d9d9;
    padding: 5px 0px 5px 0px;
}
#hr{
    width: 100%;
    color: gray;
}
.countries{
    width: 100%;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#lang{
    height: 55px;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#select{
    width: 35%;
    height: 60%;
    background-color: rgb(35,47,62);
    color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
}
#ama{
    width:90px;
    height: 28px;
    background-color:transparent;
}

#conti{
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px 0px 0px;
}
#conti>#conti1{
    width: 830px;
    display: flex;
    justify-content: space-between;
}
#conti>#conti2{
    width: 175px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 0px 0px;
}
#conti1>a{
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#conti2>a{
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.mobile_footer{
    display: none;

}















@media screen and (max-width: 1080px){
    .nav{
        display: none;
    }
    .footer{
        display: none;
    }
    #shop-by-category{
        width: 100%;
        display: grid;
        grid-template-columns:repeat(2,48%);
        row-gap: 20px;
        column-gap: 25px;
        padding: 20px;
    }
    #shop-by-category>a>img{
        width: 100%;
    }
    .mobile_nav{
        display: flex;
    }
    #svg1{
        margin: -20px 5px 0px 0px;
        height: 40px;
    }
    #part2{
        width: 40%;
        display: flex;
        justify-content: end;
    }
    #part1>#box2{
        height: 100%;
        width: 75%;
        display: flex;
        padding: 10px 10px 10px 0px;
    }
    #svg2{
        height: 100%;
        width: 15%;
        padding: 5px 5px 5px 0px;
    }
    #mob_img2{
        height: 100%;
        width: 15%;
        padding: 12px 20px 10px 0px;
    }
    
    #content{
        background-color: #ececec;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,32%);
        gap: 18px;
        padding: 20px;
    }

    .mobile_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 620px;
        width: 100%;
    }
    #see-all{
        width: 100%;
        height: 50px;
    }
    #mobile-button{
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        border: none;
        background-color: white;
    }
    #hr{
        width: 95%;
        height: 15px;
    }
    #top-of-page{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-small;
        font-weight: bold; 
        color: #e6e6e6;;
        background-color: rgb(55,71,90);
    }
    #mobile-down-menu{
        background-color: rgb(35,47,62);
        width: 100%;
        height: 280px;
        display: flex;
        justify-content: space-around;
    }
    #mdm-1{
        display: flex;
        flex-direction: column;     
        width: 45%;
    }
    #mdm-1>a{
        height: 50px;
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #d9d9d9;
        text-decoration: none;
        font-size:small;
        font-weight: bold;
    }
    #mdm-2{
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    #mdm-2>a{
        height: 50px;
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #d9d9d9;
        text-decoration: none;
        font-size:small;
        font-weight: bold;
    }
    #mobile-lang{
        background-color: rgb(13, 20, 30);
        width: 100%;
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #eng{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d9d9d9;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }
    #sign-in{
        color: #d9d9d9;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    #sign-in>a{
        text-decoration: none;
        padding: 5px;
        color: #d9d9d9;
    }
    #mobile-condi{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20px;
    }
    #mobile-condi>a{
        font-size: x-small;
        color: #d9d9d9;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px 10px 0px 10px;
    }
    #mobile-lang>p{
        color: #d9d9d9;
        font-family: Arial, Helvetica, sans-serif;
        width: auto;
        height: 20px;
        font-size: x-small;
        display: flex;
        align-items: center;
    }
}





@media screen and (max-width: 720px){
    .nav{
        display: none;
    }
    #shop-by-category{
        width: 100%;
        display: grid;
        grid-template-columns:repeat(2,48%);
        row-gap: 20px;
        column-gap: 25px;
        padding: 20px;
    }
    #shop-by-category>a>img{
        width: 100%;
    }

    .mobile_nav{
        display: flex;
    }
    #svg1{
        margin: -20px 5px 0px 30px;
    }
    #part2{
        width: 40%;
        display: flex;
        justify-content: end;
    }
    #part1>#box2{
        height: 100%;
        width: 100%;
        display: flex;
        padding: 10px 10px 10px 25px;
    }
    #svg2{
        height: 100%;
        width: 35%;
        padding: 10px 10px 10px 0px;
    }
    #mob_img2{
        height: 100%;
        width: 30%;
        padding: 15px 20px 12px 0px;
    }
    
    #content{
        background-color: #ececec;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,100%);
        gap: 18px;
        padding: 20px;
    }

    .footer{
        display: none;
    }
    .mobile_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 620px;
        width: 100%;
    }
    #see-all-category{
        width: 100%;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    #hr{
        width: 95%;
        height: 15px;
    }
    #top-of-page{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-small;
        font-weight: bold; 
        color: #e6e6e6;;
        background-color: rgb(55,71,90);
    }
    #mobile-down-menu{
        background-color: rgb(35,47,62);
        width: 100%;
        height: 280px;
        display: flex;
        justify-content: space-around;
    }
    #mdm-1{
        display: flex;
        flex-direction: column;     
        width: 45%;
    }
    #mdm-1>a{
        height: 50px;
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #d9d9d9;
        text-decoration: none;
        font-size:small;
        font-weight: bold;
    }
    #mdm-2{
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    #mdm-2>a{
        height: 50px;
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #d9d9d9;
        text-decoration: none;
        font-size:small;
        font-weight: bold;
    }
    #mobile-lang{
        background-color: rgb(13, 20, 30);
        width: 100%;
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #eng{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d9d9d9;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }
    #sign-in{
        color: #d9d9d9;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    #sign-in>a{
        text-decoration: none;
        padding: 5px;
        color: #d9d9d9;
    }
    #mobile-condi{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20px;
    }
    #mobile-condi>a{
        font-size: x-small;
        color: #d9d9d9;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px 10px 0px 10px;
    }
    #mobile-lang>p{
        color: #d9d9d9;
        font-family: Arial, Helvetica, sans-serif;
        width: auto;
        height: 20px;
        font-size: x-small;
        display: flex;
        align-items: center;
    }
}